In [1]:
tup=4,5,6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [5]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [6]:
tup[0].append(6)
tup

AttributeError: 'str' object has no attribute 'append'

In [7]:
tup[0].append('6')
tup

AttributeError: 'str' object has no attribute 'append'

In [1]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [2]:
c

6

In [3]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [4]:
tup = 4, 5, (6, 7)
a, b, c, d = tup
d

ValueError: not enough values to unpack (expected 4, got 3)

In [5]:
a, b = 1, 2
a
b

2

In [6]:
b, a = a, b
a

2

In [7]:
b

1

In [8]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [9]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [10]:
a

1

In [11]:
b

2

In [12]:
value

NameError: name 'value' is not defined

In [13]:
values

(1, 2, 3, 4, 5)

In [14]:
rest

[3, 4, 5]

In [15]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [16]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [17]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [18]:
gen = range(10)
gen

range(0, 10)

In [19]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
b_list

['foo', 'peekaboo', 'baz']

In [21]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [22]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [23]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [24]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [25]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [26]:
'dwarf' in b_list

True

In [27]:
'dw' in b_list

False

In [28]:
'dwarf' not in b_list

False

In [29]:
'dwaf' not in b_list

True

In [30]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [31]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [33]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [34]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [35]:
bisect.bisect(c, 5)

6

In [36]:
bisect.bisect(c, 10)

7

In [37]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [38]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [39]:
aa=[7, 2, 3, 7, 5, 6, 0, 1]
aa[2:4]

[3, 7]

In [40]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [41]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [42]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [43]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [44]:
zipped

In [45]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [46]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three','ok']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [47]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [48]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [49]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [50]:
last_names

('Ryan', 'Clemens', 'Curt')

In [51]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [53]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [54]:
d1[a]

KeyError: 'baz'

In [55]:
d1['a']

'some value'

In [56]:
d1['b']

[1, 2, 3, 4]

In [57]:
d1[7]

'an integer'

In [58]:
'b' in d1

True

In [59]:
b in d1

False

In [60]:
2 in d1

False

In [61]:
[1, 2, 3, 4] in d1

TypeError: unhashable type: 'list'

In [62]:
an integer in d1

SyntaxError: invalid syntax (<ipython-input-62-7a41fc02dafe>, line 1)

In [63]:
'an integer' in d1

False

In [64]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [65]:
7 in d1

True

In [66]:
 'an integer' in d1

False

In [67]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [68]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [69]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [70]:
ret = d1.pop('dummy')
ret

'another value'

In [71]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [72]:
list(d1.keys())

['a', 'b', 7]

In [73]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [74]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [75]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [76]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [77]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [78]:
for word in words:
letter = word[0]
by_letter.setdefault(letter, []).append(word)

IndentationError: expected an indented block (<ipython-input-78-93f8551e9d1d>, line 2)

In [79]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [80]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [81]:
from collections import defaultdict
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [82]:
hash('string')

-1105087426904085977

In [83]:
hash((1, 2, (2, 3)))

1097636502276347782

In [84]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [85]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [86]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [87]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}